*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
}
header{
    position:fixed;
    top:16px;
    left:50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    background-color:black;
    backdrop-filter: blur(8px);
    color: white;
    padding: 8px 24px;
    border-radius: 48px;
    z-index: 1000;
}
.logo{
    color: white;
    font-size: 20.8px;
    font-weight: 600;
    text-wrap: wrap;
    transition: 0.3s ease-in-out;
}
.logo:hover{
    transform: scale(1.1);
}
.nav-links{
    display: flex;
    gap: 32px;
}
li a{
    position: relative;
    color: white;
    font-weight: 300;
}
li a::before{
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    height: 5px;
    top: 25px;
    border-radius:16px ;
    transition: 0.3s ease-in-out;
    background: linear-gradient(to right, aqua,rgb(251, 192, 255));
}
li a:hover::before{
    width:100%;
}
.visit-btn {
    padding: 12.8px 24px;
    border-radius: 48px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    color: white;
    cursor: pointer;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
    background: linear-gradient(to right, aqua,rgb(251, 192, 255));
}
.visit-btn:hover{
    background: linear-gradient(to right,rgb(251, 192, 255), aqua);
    transform: scale(1.03);
}
#menu-icon{
    font-size:32px;
    display: none;
}
section{
    min-height: 100vh;
    padding: 128px 12%;
    width : 100%;
    position : relative;
}
.about{
    display: flex;
    align-items: center;
    justify-content: center;
}
.about .about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 160px;
}
.about img{
    width: 30vw;
    border-radius: 50%;
}
.info-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.info-box h3{
    font-size: 28.8px;
    font-weight: 500;
    opacity: 0.8;
}
.info-box h1{
    font-size: 64px;
    font-weight: 600;
}
.info-box span{
    background: linear-gradient(to right,rgb(251, 192, 255), aqua);
    background-clip: text;
    color: transparent;
    font-size: 32px;
}
.btn-group{
    display: flex;
    gap: 16px;
}
.btn{
    border-radius: 48px;
    padding: 8px 24px;
    border: 2px solid black;
    cursor:pointer;
    font-weight: 500;
    text-wrap: nowrap;
    transition: 0.2s ease-in-out;
}
.btn:hover{
    background-color: black;
    color: white;
}
.socials{
    display: flex;
    gap:32px;
}
socials i{
    font-size:40px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.socials i:hover{
    transform: scale(1.1);
}
.project-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:32px;
}
.project-card{
    display:flex;
    padding:48px 32px;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
    gap:24px;
    border:2px solid black;
    border-radius:48px;
    cursor:pointer;
    transition:0.3s ease-in-out;
}
.project-card:hover{
    background-color:black;
    color:white;
    transform:translate(-10px) scale(1.02);
}
.project-card img{
    width:100vw;
    border-radius:16px;
}
.project-btn:hover .btn{
    border:2px solid white;
    color:white;
}
.project-card:hover .btn:hover{
    border:2px solid black;
    background-color:white;
    color:black;
}
.project-card h3{
    font-size:32px;
    font-weight: 500;
}
.input-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;
    gap:32px;
    margin-top: 80px;
}
.input-box input{
    border-radius: 48px;
    border: 2px solid black;
    padding: 32px 128px;
    font-size: 48px;
}
.input-box input::placeholder{
    font-size: 48px;
}
.input{
    position:relative;
}
.input i{
    position: absolute;
    font-size: 64px;
    top:50%;
    left:50px;
    transform: translate(50%,-50%);
}
footer{
    bottom:0;
    left:0;
    height:160px;
    width:100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
}
footer ul{
    display: flex;
    align-items: center;
    gap:48px;
}
footer ul li a{
    color: black;
    font-weight: 500;
}
.copyright{
    font-size:300;
    margin-top: 32px;
}
